{{ attach_library('sasha_cat/sasha_cat_library') }}
{{ form }}
<table class="cats-list">
  <tr class="cat-upper-row">
    <th>Date</th>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th>Button</th>
  </tr>
  {% for cat in list %}
    <tr class="cat-row">
      <td class="cat-date">{{ cat.date }}</td>
      <td class="cat-name">{{ cat.name }}</td>
      <td class="cat-email">{{ cat.email }}</td>
      <td class="cat-photo"><a href="{{ file_url(cat.image['#uri']) }}" target="_blank">{{ cat.image }}</a></td>
      <td class="cat-btn">
        {% if user.hasPermission('administer nodes') %}
          <div class="cat-admin-buttons-two">
            <div class="cat-button admin-cat-edit"><a href="{{ path('sasha_cat.edit', {'id': cat.id}) }}" class="use-ajax cat-edit-btn"
                                                   data-dialog-type="modal">Edit</a></div>
            <div class="cat-button admin-cat-delete"><a href="{{ path('sasha_cat.delete', {'id': cat.id}) }}"
                                                     class="use-ajax cat-delete-btn" data-dialog-type="modal">Delete</a>
            </div>
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

