{{ attach_library('sasha_cat/sasha_cat_library') }}
{{ form }}
   {% for cat in list %}
     <div class="cat-table">
       <h5 class="cat-date">{{ cat.date }}</h5>
       <div class="cat-tb">
         <h3 class="cat-name">{{ cat.name }}</h3>
         <h3 class="cat-email">{{ cat.email }}</h3>
         <div class="cat-photo"><a href="{{ file_url(cat.image['#uri']) }}" target="_blank">{{ cat.image }}</a></div>
         {% if user.hasPermission('administer nodes') %}
           <div class="cat_admin_buttons">
             <div class="catButton adminCatEdit"><a href='/sasha-cat/cat/{{ cat.id }}/editCats/' class="use-ajax catEditBtn" data-dialog-type="modal">Edit</a></div>
             <div class="catButton AdminCatDelete"><a href='/sasha-cat/cat/{{ cat.id }}/deleteCats/' class="use-ajax catDeleteBtn" data-dialog-type="modal">Delete</a></div>
           </div>
         {% endif %}
       </div>
     </div>
   {% endfor %}
