{#
/**
 * @file
 * Todo.
 *
 * Available variables:
 * - cats: todo.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('sasha_cat/sasha_cat_table') }}
<div class="sasha-cat-table">
  {% for cat in cats %}
    <div class="sasha-cat-row">
      <div class="sasha-cat-created">{{ cat.date|date('d-m-Y H:i:s') }}</div>
      <div class="sasha-cat-name">{{ cat.cat_name }}</div>
      <div class="sasha-cat-email">{{ cat.email }}</div>
      <a class="sasha-cat-image" href="{{ file_url(cat.cat_image['#uri']) }}" target="_blank">{{ cat.cat_image }}</a>
      {% if user.hasPermission('administer nodes') %}
        <div class="sasha-cat-admin-buttons">
          <a href="{{ path('sasha_cat.edit', {'id': cat.id}) }}"
             class="sasha-cat-button">Edit</a>
          <a href="{{ path('sasha_cat.delete', {'id': cat.id}) }}"
             class="use-ajax sasha-cat-button"
             data-dialog-type="modal">Delete</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
